{% if is_granted('dmkclub_member_view') and members|length > 0 %}
    <div class="widget-content">
        {% set tabs = [] %}
        {% for member in members %}
            {% set tabs = tabs|merge([
                {
                    'alias': 'dmkclub_member_info_member_' ~ member.id ~ '_channel_' ~ channel.id,
                    'widgetType': 'block',
                    'label': member.name,
                    'url': path('dmkclub_member_widget_member_info', {'id': member.id, 'channelId': channel.id})
                }
            ]) %}
        {% endfor %}
        {{ tabPanel(tabs) }}
    </div>
{% endif %}
