{% extends 'OroUIBundle:actions:index.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}

{% set gridName = 'dmkclub-members-grid' %}
{% set pageTitle = 'dmkclub.member.entity_plural_label'|trans %}


{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons.html.twig' with {
        entity_class: entity_class,
        exportProcessor: 'dmkclub_member',
        exportTemplateProcessor: 'dmkclub_member',
        importProcessor: 'dmkclub_member.add_or_replace',
        importTitle: 'oro.importexport.import.entity'|trans({'%entityName%': 'dmkclub.member.entity_plural_label'|trans}),
        dataGridName: gridName
    } %}

    {% if resource_granted('dmkclub_member_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('dmkclub_member_create'),
                'entity_label': 'dmkclub.member.entity_label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
